* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  opacity: 0.5;
}
.container {
  max-height: 100vh;
}
body {
  background-color: white;
  color: black;
}

/* Dark Theme setup */
body.dark-theme {
  background-color: black;
  color: #fff;
  cursor: pointer;
}
body.dark-theme .navigation li a {
  color: #5a537d;
}
body.dark-theme .content h2 {
  color: #fff;
}
body.dark-theme .projects_title {
  color: #fff;
}
body.dark-theme .card-body .card-title {
  color: #fff;
}
body.dark-theme .card-body .card-text {
  color: #fff;
}
body.dark-theme header.sticky .dark {
  color: red;
}
/* Dark theme end */

header {
  position: relative;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  font-weight: 700;
  color: #7f6de2;
  font-size: 2em;
  text-decoration: none;
  margin-left: 80px;
}

header .navigation {
  position: relative;
  display: flex;
  margin-right: 80px;
}
header .navigation li {
  list-style-type: none;
  padding: 0 15px;
}
header .navigation li a {
  text-decoration: none;
  color: #5a537d;
  font-weight: 1000;
  font-size: 1em;
}
header.sticky {
  background: #f9f9f9;
  padding: 10px 0;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.banner {
  position: relative;
  height: 90vh;
  width: 100%;
  overflow: hidden;
}
.banner .content {
  max-width: 800px;
  margin: 40px 0 0 80px;
  line-height: 1.4;
}

.banner .content h2 {
  font-size: 4em;
  color: #120845;
}
.banner .content p {
  font-size: 1.4em;
  color: #605b7a;
  margin-top: 10px;
}
.button {
  background: #7562e0;
  color: #ffffff;
  font-size: 1em;
  line-height: 25px;
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
  outline: none;
  margin-top: 20px;
}
#banner.button:hover {
  background: transparent;
}
.hero_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  background-image: url(images/me.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 70% 40%;
  z-index: 1;
}
#right_circle {
  background-color: #7562e0;
  width: 80vw;
  height: 80vw;
  position: absolute;
  bottom: -100%;
  right: -40%;
  border-radius: 100%;
}

.icon {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 150px;
  color: #cdc5f4;
  height: 150px;
  justify-content: space-around;
}
.projects {
  margin: 30px 0 30px 0;
}

.projects_title {
  text-align: center;
  font-size: 2.5em;
  color: #120845;
  font-style: italic;
  text-decoration: underline;
  text-decoration-color: #7562e0;
  text-decoration-style: double;
}
.projects_box {
  display: flex;
  margin-top: 20px;
  width: 100%;
  justify-content: space-around;
}
.projects .projects_box .card {
  width: 100%;
  height: 80vh;
  background: #7562e0;
  text-align: center;
  border-radius: 3px;
  padding: 50px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.card-img-top {
  height: 200px;
  width: 100%;
}
.card-text,
.card-title {
  color: #120845;
}

footer {
  background: #7562e0;
}
footer p {
  text-align: center;
  color: #cdc5f4;
}

@media (max-width: 1000px) {
  .banner .content h2 {
    color: #120845;
  }
  .projects_box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
  }
  .card {
    margin: 10px 0;
  }
  .hero_image {
    z-index: -1;
    opacity: 0.8;
  }
}
